# Copyright (c) 2023 SolarWinds, LLC.
# All rights reserved.

name: RuboCop Analysis

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'test/Dockerfile'
      - '.github/*'
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  rubocop:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.1.0'

    - name: Install dependencies
      run: |
        bundle install
        gem install rubocop
        gem install rubocop-performance

    - name: RuboCop run
      run: |
        bash -c "
          bundle exec rubocop --require code_scanning --format CodeScanning::SarifFormatter -o rubocop.sarif
          [[ $? -ne 2 ]]
        "

    - name: Upload Sarif output
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: rubocop.sarif
