# Copyright (c) 2023 SolarWinds, LLC.
# All rights reserved.

name: Run Ruby Unit Test

on:
  push:
    branches-ignore:
      - main
    paths:
      - '**/*.rb'
      - '**/*.gemspec'
      - '**/Gemfile*'
      - 'test/**'
      - '.github/workflows/run_unit_tests.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # run act to test locally: act -j unit_test --container-architecture linux/arm64 -s SW_APM_SERVICE_KEY=your_key
  unit_test:
    name: ${{ matrix.os }} - ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby: ['4.0.0', '3.4.2', '3.3.2', '3.2.2', '3.1.6']
        os: ['slim-bookworm']
        include:
          - ruby: '4.0.0'
            os: 'alpine3.22'
          - ruby: '3.4.2'
            os: 'alpine3.21'
          - ruby: '3.3.3'
            os: 'alpine3.20'
          - ruby: '3.2.2'
            os: 'alpine3.17'
          - ruby: '3.1.2'
            os: 'alpine3.16'

    container:
      image: ruby:${{ matrix.ruby }}-${{ matrix.os }}

    env:
      SW_APM_SERVICE_KEY: ${{ secrets.DUMMY_SW_APM_SERVICE_KEY }}
      RUBY_VERSION: ${{ matrix.ruby }}
      BUNDLE_RUBYGEMS__PKG__GITHUB__COM: ${{ secrets.GITHUB_TOKEN }}
      APM_RUBY_TEST_STAGING_KEY: ${{ secrets.APM_RUBY_TEST_STAGING_KEY }}

    steps:
    - name: Checkout ${{ github.ref }}
      uses: actions/checkout@v6

    - name: print some info
      run: |
        user=`whoami`
        pwd=`pwd`
        echo "User: $user"
        echo "Current dir: $pwd"
        echo "Home dir: $HOME"
        echo "Branch: ${GITHUB_REF#refs/*/}"

    - name: ruby tests
      run: |
        export HOME=/root
        export RUN_TESTS=1
        echo "testing with ruby version: $RUBY_VERSION"
        test/test_setup.sh
